<h1>サインアップ</h1>
<%= render partial: "partials/flash" %>

<%= form_with(model: User.new, url: user_create_path) do |f| %>

    <%= f.label :username, "ユーザーID" %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
    <br>

    <%=  submit_tag("ユーザー作成") %>
<% end %>